page-checkout {

    #segmentPayment{
        opacity: 1;
  
    padding: 0px;
    
    
    border-top-left-radius: 0%;
     border-top-right-radius: 0%;
     border-bottom-left-radius: 0%;
     border-bottom-right-radius: 0%;
     background-color: #fff;
}

    .segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated {
        border-color: #5c926e;
        color: #fff;
        opacity: 1;
        background-color: #5c926e;
        padding: 0px;
        border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
           
            height: 40px;
            max-width: 40px !important;
      }

      .segment-md-light .segment-button {
        color: #222;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        height: 40px;
        max-width: 40px !important;
      }
     
      
// #segmentStep {
//     color: #fff !important;
//     border-top-left-radius: 100%;
//     border-top-right-radius: 100%;
//     border-bottom-left-radius: 100%;
//     border-bottom-right-radius: 100%;
   
//     height: 40px;
//     max-width: 40px !important;
//     background-color: #5c926e;
//   }
      


.label-md {
    margin: 10px 0px 10px 0;
    background-color: #f4f4f4;
    font-size: 1.5rem;
  }
   
  .button-md-danger {
    color: #fff;
    background-color: #d8625d;
  }

}
