page-tabnav {
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
        color: rgb(252, 246, 246);
    }
    .tabs-ios .tabbar {
        background: rgb(51, 121, 74);
    }
    .tabs-ios .tab-button[aria-selected=true] {
        background-color: hsl(0, 57%, 44%);
        color: #f4f4f4;
    }
    .tabs-ios .tab-button-icon {
        color: #f4f4f4;
    }
    .tabs-ios .tab-button {
        color: #f4f4f4;
    }
}